<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Result</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

<div class="container" style="font-style: italic">
    <br>
    <br>
    <div style="font-size: 20px; color: #4D4746">
        <a th:href="@{/products/main}" class="btn btn-success">
             На главную
        </a>

        <a th:href="@{/providers/list-providers}" class="btn btn-success">
            К списку поставщиков
        </a>

    </div>
    <hr>
    <br>
    <br>
    <br>
    <span th:text="${msg}" style="font-size: 25px"></span>
    <br>
</div>

</body>
</html>