<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Form for Providers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

<form th:action="@{/providers/importProvidersFromExcel}"
      method="POST"  enctype="multipart/form-data"
      class="container" style="font-style: italic">

    <h2>Excel файл со списком поставщиков</h2>

    <input type="file" name="file" class="btn btn-info"
           style="font-size: 15px; color: #4D4746" required>
    <br>
    <br>
    <input type="submit" value="Загрузить файл"
           class="btn btn-success" style="font-size: 20px; color: #4D4746">
    <hr>
    <a th:href="@{/products/main}">На главную</a>
</form>

</body>
</html>