<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<br>
<br>
<div class="btn-group-vertical" style=" position: relative; width: 40%;
                left: 50%; transform: translate(-50%, 0); font-style: italic">
    <h2>Настройки</h2>
    <br>
    <br>
    <a type="submit" th:href="@{/providers/providerUploadForm}" class="btn  btn-success" style="font-size: 20px;
             color: #4D4746">
        Импортировать поставщиков с Excel файла
    </a>

    <br>
    <br>

    <a type="submit" th:href="@{/products/productUploadForm}" class="btn btn-success" style="font-size: 20px;
            color: #4D4746">
        Импортировать товары с Excel файла
    </a>

</div>

<div>
    <a type="submit" th:href="@{/products/main}">
        На главную
    </a>
</div>

</body>
</html>